<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link
      rel="stylesheet"
      href="../../ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css"
      integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="../../npm/bootstrap-icons%401.8.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../../releases/v6.1.1/css/all.css" />
    <link rel="stylesheet" href="./css/modal.css" />
    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark black fixed-top mb-5">
        <div class="container">
          <a class="navbar-brand me-5" href="#">
            <i class="fa-lg fa-solid fa-robot me-3"></i>Cyber Phone
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarColor01"
            aria-controls="navbarColor01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
    </header>

    <div class="container py-5" id="content-wrap">
      <main role="main" class="mt-5">
        <div class="d-flex justify-content-between mb-2 py-3 px-2 phoneBanner">
          <h3 class="text-light">Quản trị danh sách sản phẩm</h3>
          <div class="text-right">
            <button
              type="button"
              class="btn btn-banner"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              id="addPhoneForm"
            >
              <i class="fa-solid fa-circle-plus me-2"></i> Thêm sản phẩm
            </button>
        
          </div>
      
        </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm theo tên" id="searchName">
            <div class="input-group-prepend">
              <span class="input-group-text" id="btnTimSP"><i class="fa fa-search"></i></span>
            </div>
          </div>
          <br>
          <div class="text-right">
            <button
              type="button"
              class="btn btn-banner"
              id="sortProductDes"
            >
            <i class="fa-solid fa-sort-down"></i> Sắp xếp sản phẩm giảm dần theo giá tiền
          </button>
          &emsp;
            <button
            type="button"
            class="btn btn-banner"
            id="sortProductAsc"
          >
          <i class="fa-solid fa-sort-up"></i> Sắp xếp sản phẩm tăng dần theo giá tiền
          </button>
          </div>
        <div class="table-responsive">
          <table class="table display" id="myTable">
            <thead class="">
              <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Hãng sản xuất</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Hình ảnh</th>
                <th><em class="fa fa-cog"></em> Hành động</th>
              </tr>
            </thead>
            <tbody id="tablePhone"></tbody>
          </table>
        </div>

        <div class="modal fade" id="exampleModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <header class="head-form mb-0">
                <h3 id="header-title">Quản trị danh sách sản phẩm</h3>
              </header>

              <!-- Modal Header -->
              <!-- 	<div class="modal-header">
            <h4 class="modal-title" id="modal-title">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div> -->

              <!-- Modal body -->
              <div class="modal-body">
                <form role="form" id="formPhone">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fa-solid fa-signature"></i
                            ></span>
                      </div>
                      <input
                        type="text"
                        name="name"
                        id="name"
                        class="form-control input-sm"
                        placeholder="Tên sản phẩm"
                      />
                    </div>
                    <span class="sp-thongbao" id="tbname"></span>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fa-solid fa-store"></i></span>
                      </div>
                      <select class="form-control" name="chucvu" id="type">
                        <option selected="" disabled="">Hãng sản xuất</option>
                        <option>Apple</option>
                        <option>Samsung</option>
                      </select>
                    </div>

                    <span class="sp-thongbao" id="tbtype"></span>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fa-solid fa-money-bill"></i></span>
                      </div>
                      <input
                        type="text"
                        id="price"
                        class="form-control input-sm"
                        placeholder="Đơn giá"
                      />
                    </div>

                    <span class="sp-thongbao" id="tbprice"></span>
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fa-solid fa-camera"></i
                        ></span>
                      </div>
                      <input
                        type="text"
                        id="imageUrl"
                        class="form-control"
                        placeholder="Link hình ảnh"
                      />
                    </div>

                    <span class="sp-thongbao" id="tbimageUrl"></span>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fa-solid fa-cart-plus"></i></span>
                      </div>
                      <input
                        type="text"
                        id="qty"
                        class="form-control input-sm"
                        placeholder="Số lượng"
                      />
                    </div>

                    <span class="sp-thongbao" id="tbqty"></span>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fa-solid fa-book-open-reader"></i></span>
                      </div>
                      <input
                        type="text"
                        id="heading"
                        class="form-control"
                        placeholder="Tiêu đề"
                      />
                    </div>

                    <span class="sp-thongbao" id="tbheading"></span>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fa-solid fa-comment"></i
                        ></span>
                      </div>
                      <input
                        type="text"
                        id="desc"
                        class="form-control"
                        placeholder="Mô tả"
                      />
                    </div>

                    <span class="sp-thongbao" id="tbdesc"></span>
                  </div>
                </form>
              </div>

              <!-- Modal footer -->
              <div class="modal-footer" id="modal-footer">
                <button type="button" class="btn" id="btnAddPhone">
                  Thêm sản phẩm
                </button>
                <button id="btnUpdate" type="button" class="btn">
                  Cập nhật sản phẩm
                </button>
                <button
                  id="btnClose"
                  type="button"
                  class="btn btn-danger"
                  data-bs-dismiss="modal"
                >
                  Đóng
                </button>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script
      src="../../ajax/libs/jquery/3.6.0/jquery.js"
      integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="../../ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js"
      integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../../npm/sweetalert2%4011"></script>
    <script src="../../axios%401.5.1/dist/axios.min.js"></script>
    <script type="module" src="../controller/main.js"></script>
  </body>
</html>
